.title {
  margin-right: 925px;
  margin-top: 20px;
  font-size: 30px;
 }
.upgradebtn {
    float: right;
    font-size: 20px;
    margin-top: -63px;
}
 .seconadary {
   background:rgb(231, 224, 224);
   top: 0%;
   margin-top: -20px;
 }
 .lists {
   list-style: none;
   padding-left: 248px;
   display: flex;
   text-decoration: none;
   font-size: 15px;
   flex-wrap: nowrap;
 }
 .home {
   color: rgb(79, 50, 211);
   padding-right: 10px;
 }
 .db {
   color: grey;
 }

 @media screen and(max-width:785px) {
   .title {
     margin-right: 200px;
   }
   .lists {
     margin-right: -146px;
   }
   .seconadary {
     position: relative;
   }
 }